body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 5px;
    color: black;
}
a{
    color: black;
    text-decoration-line: none;
}
h2{
    text-align: left;
    font-weight: lighter;
    line-height: 50%;
    text-decoration-line: underline;
    text-decoration-thickness: 8%;
    margin-bottom: 4%;
}
h3{
    margin-top: 30px;
    font-weight: lighter;
    line-height: 100%;
    margin-bottom:5px
}
h4{
    font-size: 80%;
    text-decoration: underline black;
}
h5{
    font-size: 120%;
    margin: 20px;
    font-weight: lighter;
    line-height:2px;
}
#logoNav{
    width: auto;
    height: 150px;
}
hr{
    height: 2px;
    background-color: black;
}


/* nav css */
.center{
    margin: auto;
    width: 50%;
    padding: 10px;  
    text-align: center;
}
.center div{
    text-align: center;
    line-height: 120%;
    margin-top:2%;

}
.currentPage{
    text-align: center;
    font-weight: bolder;
    font-size: 140%;
    margin:auto;
    background-color: yellow;
}
/* product section css */
.productCenter{
    margin: auto;
    width: 400px;
    align-items: center;
}
#productImage{
    border: 2px solid black;
    width: 400px;
    height: auto;
}
.productCenter div{
    margin: auto;
    width: 100%;
    height: auto;
    border: 10px solid transparent;
}
.productCenter div:hover{
    margin: auto;
    background-color: yellow;
    width: 100%;
    border: 10px solid yellow;
    border-right: 12px solid yellow;
}


/* product detail page css */
.detailCenter{
    margin: auto;
    width: 400px;
    align-items: center;
}
.productDetails{
    margin: 30px auto 40px;
    width: 55%;
    align-items: left;
}
.productDetails{
    text-align: left;
}
#productTitle{
    font-size: 180%;
    margin-top: 50px;
}
.productDrop{

    width: 100%;
    border: 2px solid black;
}
.menuSelection{
    margin:20px 0px 20px;
}
.cartAdd{
    margin-left: auto;
    justify-content: right;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 30%;
}
.cartButton{
    font-weight: bolder;
    margin-left: 10px;
    background-color: yellow;
    border: 2px solid black;
    width: 50%;
    height: 35px;
}

/* cart css */
.checkoutImages{
    width:200px;
    height: auto;
    border: 2px solid black;
}
.cartProductDetails{
    margin-top: 0px;
    line-height: 5px;
}
.checkoutButton{
    font-weight: bolder;
    margin-left: 10px;
    background-color: yellow;
    border: 2px solid black;
    width: 20%;
    height: 35px;
}
/* 

source:
https://www.geeksforgeeks.org/how-to-change-the-thickness-of-hr-tag-using-css/

**used this to figure out how to change the hr height and change its color**

*/

/* 

source:
https://www.w3schools.com/css/css_dimension.asp 

**used this to set the size of the logo as well as the product photos**
*/

/* 

source:
https://www.w3schools.com/css/css_align.asp 

**helped me center .images as well as other css elements**

*/
