body{
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    line-height: 5px;
    color: black;
    
}
/* 

source:
https://www.geeksforgeeks.org/how-to-change-the-thickness-of-hr-tag-using-css/

**used this to figure out how to change the hr height and change its color**

*/
h2{
    font-weight: lighter;
    font-size: 90%;
}
h3{
    font-weight: normal;
    font-size: 85%;
}
hr{
   border: none;
    height: 2px;
    background-color:black;
}
/* 

source:
https://www.w3schools.com/css/css_dimension.asp 

**used this to set the size of the logo as well as the product photos**
*/
#logoNav{
    width: auto;
    height: 150px;
}

h1{
    font-size: 30px;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;  
} 

#center{
    text-align: center;
    margin: 20px;
}

.img-with-text {
    text-align: justify;
    width: 400px;
    border: 2px solid black;
}

/* 

source:
https://www.w3schools.com/css/css_align.asp 

**helped me center .images as well as other css elements**

*/

.images{
    margin: 70px;
    width: 400px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.images:hover{
    width: 400px;
    height: 500px;
    border-top: 10px solid yellow;
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;
    background: yellow;
}

#navItems{
    font-size: 150%;
    font-weight: 100;
    text-decoration: none;
    color: black;
    border-top: 100px;
}

#navItemsH{
    font-size: 200%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: yellow;
}

#productSpace{
    margin-top: 30px;
}

#navSpace{
    margin-top: 30px;
}
.cartStart{
    margin-top: 60px;
}
.cartImages{
    width: 150px;
    height: auto;
    text-align: center;
    border: 2px solid black;
}

#productImg{
    border: 2px solid black;
}

.shortRule{
    width: 65%;
}

button{
   border: 1px solid black;
   background: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 10%;
    height: 5%
}
.productImage{
    margin: 50px;
    width: 400px;
    height: auto;
    border: 2px solid black;

}

.productInfo{
    width: 250px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: normal;
}

.productDrop{
    width: 250px;
    border: 2px solid black;
}

.cartAdd{
    display: flex;
    float: right;
    margin: 0;
}

.cartButton{
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
}
